table, th, td {
    border: 1px solid;
}
th, td {
    padding: 5px;
}
th.frac, td.frac {
    width: 50px;
}
.center-text {
    text-align: center;
}
input[type='number']{
    width: 45px;
}
.fixed-width {
    font-family: Courier;
}
