table, th, td {
    border: 1px solid;
}
.fixed-head thead th {
    background: #009688;
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ccc;
}
.fixed-head tfoot {
    position: sticky;
    bottom: 0;
    border-top: 2px solid #ccc;
    background: #009688;
}
.fixed-head {
    display: block;
    overflow-y: scroll;
    height: 500px;
}
th, td {
    padding: 5px;
}
.center-text {
    text-align: center;
}
input[type='number']{
    width: 45px;
}
.fixed-width {
    font-family: Courier;
}
