<!doctype html>
<html>
<head>
  <title>Maitri People</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2><a href="/">Homepage</a></h2>
  <h2><a href="/tasks">Chores</a></h2>
  <h2>Edit {{ task.task }}</h2>
    <form method="POST" action="{{ url_for('edit_task') }}">
      <table>
	<tr>
	  <td><label for="name">Chore Name:</label></td>
	  <td><input type="text", id="name" name="name" size="50" value="{{task.task}}"></input></td>
	</tr>
	<tr>
	  <td><label for="category">Chore Category:</label></td>
	  <td>
	    <select id="category", name="category">
	      {% for cat in ("Bathrooms", "Main Kitchen", "Occasional Tasks", "Support Roles", "Other Common Areas") %}
	      <option value="{{ cat }}" {{ 'selected' if task.category == cat else '' }}>{{ cat }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <td><label for="description">Description:</label></td>
	  <td><textarea id="description" name="description" rows="4" cols="51">{{ task.description }}</textarea></td>
	</tr>
	<tr>
	  <td><label for="duration">Duration (in hours)</label></td>
	  <td><input type="number" step="0.05" min="0" id="duration" name="duration" value="{{ task.duration_hours }}"></input></td>
	</tr>
	{% if task.task_type == "occasional" %}
	<tr>
	  <td><label for="freq">Frequency (in weeks)</label></td>
	  <td><input type="number" step="1" min="2" id="freq" name="frequency" value="{{ task.frequency_weeks }}"></input></td>
	</tr>
	{% endif %}
	{% if task.task_type == "seasonal" %}
	<tr>
	  <td><label for="freq">Frequency (in days)</label></td>
	  <td><input type="number" step="1" min="7" id="freq" name="frequency" size="4" value="{{ task.frequency_days }}"></input></td>
	</tr>
	<tr>
	  <td><label for="start">Season Start (this month is included)</label></td>
	  <td>
	    <select id="start" name="season_start">
	      {% for m in ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec") %}
	      <option value="{{ '%02d' % loop.index }}" {{ 'selected' if task.start_date == ('%02d/01' % loop.index) else '' }}>{{ m }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	<tr>
	  <td><label for="end">Season End (this month is <b>not</b> included)</label></td>
	  <td>
	    <select id="end" name="season_end">
	      {% for m in ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec") %}
	      <option value="{{ '%02d' % loop.index }}" {{ 'selected' if task.end_date == '%02d/01' % loop.index else '' }}>{{ m }}</option>
	      {% endfor %}
	    </select>
	  </td>
	</tr>
	{% endif %}
	<tr>
	  <td colspan="4" class="center-text">
	    <input type="hidden" name="id" value="{{ task.id }}"></input>
	    <input type="hidden" name="type" value="{{ task.task_type }}"></input>
	    <input type="submit" value="Update Chore"></input>
	  </td>
	</tr>
      </table>
    </form>
  </body>
</html>
  
