<!doctype html>
<html>
<head>
  <title>Maitri Chore Chart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Maitri Chore Chart</h1>

  <h2>Admin tasks</h2>
  <ul>
    <li><a href="/people">Manage people</a></li>
    <li><a href="/tasks">Manage chore definitions</a></li>
    <li><a href="/prefs">Manage chore preferences</a></li>
  </ul>

  <h2>Chore Chart</h2>
  <ul>
    <li><a href="/assignments">View current and past chore assignments</a></li>
    <li><a href="/assign-chores">Construct the chore chart for next week</a></li>
  </ul>

</body>
</html>
