<!doctype html>
<html>
<head>
  <title>Maitri Chores Administration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Maitri Chores</h1>

  <h2>Admin tasks</h2>
  <ul>
    <li><a href="/people">Manage people</a></li>
    <li><a href="/tasks">Manage chores</a></li>
    <li>Submit special requests</li>
  </ul>

  <h2>Chore Chart</h2>
  <ul>
    <li>View and export this week's chore chart</li>
    <li>Construct the next week's chore chart</li>
  </ul>

</body>
</html>
