<!doctype html>
<html>
<head>
  <title>Manage Chore Preferences</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h2><a href="/">Homepage</a></h2>
  <h2><a href="/people">People</a></h2>
  <h1>Manage Chore Preferences</h1>
  <h3>Preference values range from: <br>
    0: never want to do this chore
    <br>to<br>
    5: love to do this chore</h3>
  <div class="fixed-head">
  <table>
    <thead>
      <tr>
        <th>Chore</th>
	{% for name in prefs.index.levels[1] %}
	    <th>{{name}}</th>
	{% endfor %}
      </tr>
    </thead>
    <form method="POST" action="{{ url_for('prefs') }}">
    <tbody>
      {% for task in prefs.index.levels[0] %}
      <tr>
	<td>{{task}}</td>
	{% for name in prefs.index.levels[1] %}	
	<td>
	  <input type="number"
		 value="{{ prefs.loc[(task, name), 'preference'] }}"
		 name="{{ prefs.loc[(task, name), 'id'] }}"
		 step="1" min="0" max="5"/>
	</td>
	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
	<td colspan="{{ prefs.index.levels[1].size + 1 }}" class="center-text">
	  <input type="submit" value="Update Chore Preferences">
	</td>
      </tr>
    </tfoot>
    </form>
  </table>
  </div>
</body>
</html>
